
html {
	padding: 0;
	margin: 0;
	background-color: #fff;

	font-family: medium-content-serif-font, Georgia, "Cambria", "Times New Roman", Times, serif;
}

body {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: medium-content-serif-font, Georgia, "Cambria", "Times New Roman", Times, serif;
	font-weight: 300;
}

h1 {
	float: left;
	font-size: 1.5em;
	padding-right: 1em;
}

h2 {
	color: #222;
	font-size: 1.2em;
}

h3 {
	font-size: 0.9em;
}

/* Search Nav */

.search-nav {
	padding: 0.2em;
	padding-top: 0.4em;
	margin-bottom: 1px;
	background-color: #fafafa;
	-webkit-box-shadow:0px 1px 0px #ddd;
	-moz-box-shadow:0px 1px 0px #ddd;
	box-shadow:0px 1px 0px #ddd;
}

.search-nav h1 {
	color: #333;
	padding-left: 0.3em;
	padding-right: 0.15em;
	/*background-color: red;*/
}

.search-nav input[type="text"] {
	outline: none;
	box-shadow: none;
	color: #333;
	margin: 0.5em;
	font-size: 0.8em;
	padding: 1em;
	width: 580px;
	height: 15px;
}

.search-nav input[type="text"]:hover {
	outline: none;
	box-shadow: none;
	border-color: solid 1px red;
}

.search-nav input[type="text"]:selected {
	outline: none;
	box-shadow: none;
	border-color: red;
}

.search-nav input[type=submit] {
	outline: none;
	border: solid 1px #ddd;
	background-color: #fefefe;
	color: black;
	margin: 0.5em;
	line-height: 1em;
	font-size: 0.8em;
	width: calc(100px + 2em);
	height: calc(20px + 2em);
	cursor:pointer;
}

.search-nav input[type=submit]:hover {
	outline: none;
	border: solid 1px #bbb;
	background-color: #fcfcfc;
}

.search-nav input[type=submit]:active {
	outline: none;
	border: solid 1px #4885ed;
	background-color: #fcfcfc;
}

/* Party Nav */

.party-nav {
	background-color: white;
	padding: 0;
	padding-left: calc(10em - 2em);
	height: 60px;
	-webkit-box-shadow:0px 1px 0px #eee;
	-moz-box-shadow:0px 1px 0px #eee;
	box-shadow:0px 1px 0px #eee;
}

.party-nav a {
	font-family: Arial;
	font-size: 0.85em;
	line-height: 60px;
	padding: 0;
	padding-right: 2.5em;
	padding-left: 2.5em;
	color: #666;
	text-decoration: none;
}

.party-nav a:hover {
	color: #4885ed;
}

.party-nav a:active {
	color: #2663cb;
}

/* Ward Info */

.ward-info {
	display: inline-block;
	margin-left: 10em;
	max-width: 500px;
}

.ward-info .ward {
	padding-bottom: 1em;
	margin-top: 2em;
	margin-bottom: 3em;
}

.ward-info .ward a {
	color: #4885ed;
	text-decoration: none;
}

.ward-info .ward a:hover {
	text-decoration: underline;
}

.ward-info .ward a:active {
	color: #2663cb;
}

/*Add Ward*/

.addWard {
	text-align: left;
	display: inline-block;
	float: right;
	max-width: calc(500px - 2em);
	padding: 2em;
	margin-top: 2em;
	margin-right: 6em;
	background-color: #fefefe;
	border: solid 1px #ddd;
}

.addWard h2 {
	padding-bottom: 0.5em;
	/*text-align: center;*/
}

.addWard p {
	padding-bottom: 0.5em;
	color: #333;
}

.addWard input[type=submit] {
	padding: 0;
	margin-left: -10px;
}

.addWard input[type=submit] {
	outline: none;
	border: solid 1px #ddd;
	background-color: #fefefe;
	color: black;
	margin: 0.5em;
	line-height: 1em;
	font-size: 0.8em;
	width: calc(100px + 2em);
	height: calc(20px + 2em);
	cursor:pointer;
}

.addWard input[type=submit]:hover {
	outline: none;
	border: solid 1px #bbb;
	background-color: #fcfcfc;
}

.addWard input[type=submit]:active {
	outline: none;
	border: solid 1px #4885ed;
	background-color: #fcfcfc;
}

/*Add Ward Form*/

.addWardContainer {
	/*visibility: hidden;*/
	opacity: 0;
	background: rgba(1, 1, 1, 0.65);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.addWardForm {
	padding-top: 2em;
	padding-bottom: 2em;

	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	position: fixed;
	text-align: center;
	background-color: #fff;
	width: 40%;

	border-radius: 3px;

	-moz-box-shadow: 0 0 6px #222;
	-webkit-box-shadow: 0 0 6px #222;
	box-shadow: 0 0 6px #222;
}

.addWardForm form input {
	font-family: 'Crimson Text', serif;
	color: #333;
	margin: 0.2em;
	font-size: 0.9em;
	padding: 1em;
	width: 400px;
	height: 10px;

	outline: none;
	box-shadow: none;
	border: 1px solid #ccc;

	width: 80%;
	max-width: 400px;
}

.addWardForm form input[type="text"]:focus {
	border-color: #4885ed;
}

.addWardForm form textarea {
	font-family: 'Crimson Text', serif;
	color: #333;
	margin: 0.5em;
	line-height: 1.5em;
	font-size: 0.9em;
	border: 1px solid #ccc;
	width: 400px;
	padding: 1em;
	height: 100px;

	outline: none;
	box-shadow: none;

	width: 80%;
	max-width: 400px;
}

.addWardForm form textarea:focus {
	border-color: #4885ed;
}

.addWardForm form input[type=submit] {
	border: solid 1px #ccc;
	background-color: white;
	color: black;
	margin: 0.5em;
	line-height: 1em;
	font-size: 0.9em;
	width: calc(400px + 2em);
	height: calc(20px + 2em);
	cursor:pointer;

	width: calc(80% + 2em);
	max-width: calc(400px + 2em);
}

.addWardForm form input[type=submit]:hover {
	outline: none;
	border: solid 1px #bbb;
	background-color: #fefefe;
}

.addWardForm form input[type=submit]:active {
	outline: none;
	border: solid 1px #4885ed;
	background-color: #fdfdfd;
}

/* Footer */

.footer {
	padding: 0.1em;
	padding-left: 2em;
	background-color: #eee;
	-webkit-box-shadow:0px -1px 0px #ddd;
	-moz-box-shadow:0px -1px 0px #ddd;
	box-shadow:0px -1px 0px #ddd;
	height: 3.5em;
}

.footer .left {
	float: left;
}

.footer .right {
	float: right;
}

.footer p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 2em;
	font-family: Arial;
	font-size: 0.85em;
	display: inline-block;
}

.footer a {
	color: #666;
}

.footer a:hover {
	color: #4885ed;
}

.footer a:active {
	color: #2663cb;
}

/*Styles*/

.hidden-true {
	visibility: hidden;
}
